.rating-stars {
    font-size: 0;
    height: 21px;
    vertical-align: middle;
}

.not-rated .rating-stars {
    cursor: pointer;
}

.rating-stars img {
    opacity: 0.5;
}

.rating-stars .star-fill {
    opacity: 1;
}

.not-rated img {
    filter: brightness(0) saturate(100%) invert(52%) sepia(75%) saturate(489%) hue-rotate(140deg) brightness(88%) contrast(92%);
}

.not-rated .rating-stars:hover img {
    filter: brightness(0) saturate(100%) invert(35%) sepia(80%) saturate(4141%) hue-rotate(200deg) brightness(103%) contrast(104%);
    opacity: 1;
}

.not-rated .rating-stars img:hover ~ img {
    opacity: 0.5;
}

.delete-product {
    cursor: pointer;
}

.delete-product:hover {
    filter: brightness(0) saturate(100%) invert(25%) sepia(44%) saturate(3832%) hue-rotate(338deg) brightness(101%) contrast(80%);
}